html,body{
	font-family: "myriad-pro",sans-serif;
	height: 5000px;
}


.title {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	}

.title .name {
	margin: -50px auto;
	text-align: center;
}
/* backdrop-filter: blur(10px);*/




@media screen and (max-width: 768px) {
.title {
	margin: -12px auto;
	height: 50px;
	width: 100%;
 background: #eeeeee;
 backdrop-filter: blur(10px);



}